.secrets
.cache

config.lin.py
config.win.py
config.py

dot.yml
dot.bat
dot.sh

__pycache__/
.draft
draft
drafs
test.py
pip-log.txt
.env
.venv
.drafts
.idea
.vscode
.code
*.manifest
*.spec
*.gz
*.mo
*.pot
*.log
*.so
*.py[cod]
*$py.class
